* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #272f32;
  color: #555;
  font-family: Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: Garamond, sans-serif;
}

h1 {
  font-size: 30px;
  padding-top: 20px;
  margin-bottom: 0;
}
